body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    padding: 2rem;
}

h1, h2, h3, h4 {
    color: #0a84ae;
    font-weight: 300;
}

.widget {
    padding: 20px;
    margin-top: 20px;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    border-radius: 8px; 
}
.small_widget {
    padding: 20px;
    margin-top: 20px; 
    margin-bottom: 20px;
    background-color: white;
    border: 2px solid #bbb;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 20px;
}
.card-text {
    font-size: 1.25rem;
    text-align: center;  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 10px; 
}
.centered-text {
    font-size: 1.25rem; 
    text-align: center; 
}